<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
 	<!-- 扫描这个包下以及子包的内容 -->
	<context:component-scan base-package="com.taotao.search.service"></context:component-scan>
 	
 	<!-- 排除@controller这种注解 -->
 	<!-- <context:component-scan base-package="com.taotao.search">
 		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
 	</context:component-scan> -->
	<!-- 注解配置事务开始 -->
	<!-- <tx:annotation-driven transaction-manager="txManager"/>a PlatformTransactionManager is still required
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        (this dependency is defined somewhere else)
        <property name="dataSource" ref="dataSource"/>
    </bean> -->
	<!-- 注解配置事务结束 -->
</beans>